<div data-ng-controller="ApiTestController"
     data-cc-spinner-directive="apiTest.isLoading"
>
  <h3>CalCentral API Test</h3>
  <form data-ng-submit="runApiTest()">
    <button class="cc-button cc-button-blue" data-ng-disabled="apiTest.running" type="submit">Run test</button>
    <div data-ng-show="apiTest.showTests">
      <ul class="cc-toolbox-apitest-list">
        <li data-ng-repeat="route in apiTest.data" ng-switch="route.status" class="cc-flex">
          <i ng-switch-when="success" title="{{route.route}}" class="fa fa-check-circle cc-icon-green cc-toolbox-apitest-icon"></i>
          <i ng-switch-when="failed" title="{{route.route}}" class="fa fa-check-circle cc-icon-red cc-toolbox-apitest-icon"></i>
          <i ng-switch-default title="{{route.route}}" class="fa fa-spinner fa-spin cc-toolbox-apitest-icon"></i>
          <span class="cc-toolbox-apitest-{{route.status}}">{{route.route}}</span>
        </li>
      </ul>
    </div>
  </form>
</div>
