<h3>UID/SID Lookup</h3>
<form data-ng-submit="admin.lookupUser()">
  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <input id="cc-toolbox-id" data-ng-pattern="api.util.uidPattern" placeholder="Enter UID or SID here" data-ng-model="admin.id" type="text" data-cc-select-on-click-directive />
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <button
        class="cc-button cc-button-blue"
        data-ng-disabled="!admin.id"
        type="submit">Look Up</button>
    </div>
  </div>
  <div class="row">
    <div class="small-8 small-offset-3 columns">
      <span data-ng-bind="admin.lookupErrorStatus"></span>
    </div>
  </div>
  <div data-ng-if="admin.users" class="row">
    <div class="small-6 small-offset-3 columns cc-table">
      <table class="cc-toolbox-table">
        <thead>
        <tr>
          <th width="50%" scope="col">UID</th>
          <th width="50%" scope="col">SID</th>
        </tr>
        </thead>
        <tbody data-ng-repeat="user in admin.users">
        <tr>
          <td data-ng-bind="user.ldap_uid"></td>
          <td data-ng-bind="user.student_id || 'This user has no SID'"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
