<div class="cc-widget cc-toolbox-widget" data-ng-controller="AdminController">
  <div class="cc-widget-title">
    <h2>UID/SID Lookup</h2>
  </div>
  <div class="cc-widget-text">
    <div>
      <div class="cc-text-red" data-ng-if="admin.viewAsErrorStatus">
        <i class="cc-icon-red fa fa-exclamation-circle"></i>
        <span data-ng-bind="admin.viewAsErrorStatus"></span>
      </div>
    </div>
    <form data-ng-submit="admin.lookupUser()">
      <div>
        <div>
          <input id="cc-toolbox-id" data-ng-pattern="api.util.uidPattern" placeholder="Enter UID or SID here" data-ng-model="admin.id" type="text" data-cc-select-on-click-directive />
        </div>
      </div>
      <div>
        <button class="cc-button cc-button-blue" data-ng-disabled="!admin.id" type="submit">Look Up</button>
      </div>
      <table class="cc-toolbox-table" data-ng-if="admin.users">
        <thead>
          <tr>
            <th width="50%" scope="col">UID</th>
            <th width="50%" scope="col">SID</th>
          </tr>
        </thead>
        <tbody data-ng-repeat="user in admin.users">
          <tr>
            <td data-ng-bind="user.ldap_uid"></td>
            <td data-ng-bind="user.student_id || 'This user has no SID'"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
