<div class="cc-widget cc-toolbox-widget" data-ng-controller="AdminController" data-cc-spinner-directive="admin.isLoading">
  <div class="cc-widget-title">
    <h2>View as</h2>
  </div>
  <div class="cc-widget-text">
    <div class="cc-toolbox-error" data-ng-if="admin.actAsErrorStatus">
      <i class="cc-icon-red fa fa-exclamation-circle"></i>
      <span class="cc-text-red" data-ng-bind="admin.actAsErrorStatus"></span>
    </div>
    <form data-ng-submit="admin.actAsUser()">
      <div>
        <label for="cc-toolbox-view-as-uid">UID/SID</label>
      </div>
      <div>
        <input id="cc-toolbox-view-as-uid" data-ng-model="admin.actAs.id" data-ng-pattern="api.util.uidPattern" placeholder="Enter UID or SID here" type="text" data-cc-select-on-click-directive />
      </div>
      <div>
        <button class="cc-button cc-button-blue" data-ng-disabled="!admin.actAs.id" type="submit">Submit</button>
      </div>
      <div class="cc-toolbox-user-section">
        <ul data-ng-repeat="user in admin.userPool" data-ng-if="admin.userPool">
          <li>
            UID: <button class="cc-button-link" data-ng-bind="user.ldap_uid" data-ng-click="admin.actAsUser(user)"></button>
            (SID: <span data-ng-bind="user.student_id || 'none'"></span>)
          </li>
        </ul>
      </div>
      <div data-ng-repeat="block in admin.userBlocks" class="cc-toolbox-user-section">
        <div data-ng-if="block.users.length">
          <strong data-ng-bind="block.title"></strong>
          (<button type="button" class="cc-button-link" data-ng-click="block.clearAllUsers()">clear all</button>)
          <ul>
            <li data-ng-repeat="user in block.users track by $index">
                <span>
                  UID: <button type="submit" class="cc-button-link" data-ng-click="admin.updateIDField(user.ldap_uid)" data-ng-bind="user.ldap_uid"></button>
                  (SID: <span data-ng-bind="user.student_id || 'none'"></span>)
                </span>
              <span data-ng-if="block.storeUser && !user.saved">(<button type="button" class="cc-button-link" data-ng-click="block.storeUser(user)">save</button>)</span>
              <span data-ng-if="block.clearUser">(<button type="button" class="cc-button-link" data-ng-click="block.clearUser(user)">delete</button>)</span>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
