<div class="cc-widget-text cc-page-widget-profile-delegate"
  data-ng-controller="DelegateController"
  data-cc-spinner-directive="delegate.isLoading"
>
  <h2>
    <a data-cc-campus-solutions-link-directive="delegatedAccessUrl.url" data-cc-outbound-enabled="false">Manage Delegates</a>
  </h2>
  <p>
    Delegates are individuals who can act on a student's behalf by paying bills, viewing academic information, etc.
    They are often parents or guardians of students. Students choose which privileges to delegate, and can change
    those privileges at any time.
  </p>
  <p>
    To created a new delegate or change the privileges of an existing one, click the link above.
  </p>
  <h3>Other information:</h3>
  <ul>
    <li>
      <strong>Free/busy:</strong> To give a delegate a free/busy view of your bCal calendar, follow
      the <a href="https://support.google.com/calendar/answer/37082?hl=en">bCal instructions</a>.
    </li>
    <li>
      <strong>Profile and bConnected content:</strong> Delegates can view neither profile information nor bConnected
      content: mail, calendar, etc.
    </li>
    <li>
      <strong>Advisors:</strong> Advisors can view all financial, and academic information shown in CalCentral, but cannot
      see Profile or bConnected content.
    </li>
  </ul>
</div>
