<div class="cc-widget cc-widget-finaid-coa" data-ng-controller="FinaidCoaController">
  <div class="cc-widget-title">
    <h2>Estimated Cost of Attendance</h2>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="coa.isLoading">
    <div data-ng-if="errored">
      An error occurred while trying to retrieve your data.
    </div>
    <div data-ng-if="!errored">
      <div data-ng-bind="coa.message"></div>
      <div data-ng-if="!coa[coa.currentView].data.length" class="cc-widget-finaid-coa-text-padding">Currently we don't have your data available for this aid year.</div>
      <div data-ng-if="coa[coa.currentView].data.length">
        <div class="cc-widget-finaid-coa-text-padding">
          <button data-ng-click="toggleView()" class="cc-button-link">
            View
            <span data-ng-if="coa.currentView === 'fullyear'">Term</span>
            <span data-ng-if="coa.currentView !== 'fullyear'">Annual</span>
            Amount
          </button>
        </div>
        <div
          data-cc-finaid-table-directive
          data-data="coa[coa.currentView].data"
          data-toggle="api.widget.toggleShow"
        ></div>
        </div>
      </div>
    </div>
  </div>
</div>
