.cc-flex {
  display: flex;
}
.cc-flex-align-base {
  align-items: baseline;
}
.cc-flex-space-between {
  justify-content: space-between;
}
.cc-flex-space-between-horizontal-5 > div {
  &:not(:first-child) {
    margin-left: 5px;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}
