.cc-toolbox {
  background: $cc-color-white;
  .cc-toolbox-section {
    margin-top: 30px;
  }
  .cc-toolbox-widget {
    background: $cc-color-white;
    form {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      label {
        display: inline-block;
        margin: 0;
        text-align: left;
      }
    }
  }
  .cc-toolbox-apitest-list {
    margin-left: 20px;
    .cc-toolbox-apitest-pending {
      color: $cc-color-dark-grey;
    }
    .cc-toolbox-apitest-failed {
      color: $cc-color-red;
    }
    .cc-toolbox-apitest-success {
      color: $cc-color-green-plus;
    }
    .cc-toolbox-apitest-icon {
      width: 5%;
    }
  }
  .cc-toolbox-table {
    margin: 20px 10px 30px;
    table {
      table-layout: fixed;
    }
    td, th {
      border-bottom: 1px solid $cc-color-widget-background;
      font-size: 12px;
      padding: 4px;
    }
  }
}
