.cc-page-welcome-delegate {
  .cc-delegate-row-margin {
    padding-left: 0;
  }
  .cc-widget-link-delegate {
    background: $cc-color-white;
    form {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      label {
        display: inline-block;
        margin: 0;
        text-align: left;
      }
      > div:not(:last-child) {
        margin-bottom: 2px;
      }
    }
    .cc-widget-link-delegate-title {
      width: 100%;
    }
    .cc-widget-link-delegate {
      margin: 7px 5px 0;
    }
    .cc-page-widget-link-delegate-agreement {
      background: $cc-color-light-grey;
    }
    .cc-page-widget-link-delegate-footer {
      color: $cc-color-lighter-medium-grey;
    }
    .cc-page-widget-link-delegate-footnote {
      width: 5%;
    }
  }
}
