.cc-page-welcome-delegate {
  .cc-delegate-row-margin {
    padding-left: 0;
  }
  .cc-widget-link-student {
    background: $cc-color-white;
    .cc-widget-link-student-padding {
      padding: 5px;
    }
    .cc-link-student-title {
      width: 100%;
    }
    .cc-widget-link-student {
      margin: 7px 5px 0;
    }
    .cc-widget-link-student-form {
      background: transparent;
      border: 0;
      .cc-widget-link-student-form-label {
        font-size: inherit;
        text-align: left;
      }
      .cc-widget-link-student-form-check {
        display: block;
        float: left;
        margin: 2px;
      }
    }
    .cc-page-widget-link-student-footer {
      .cc-page-widget-link-student-footnote-number {
        color: $cc-color-lighter-medium-grey;
        float: left;
        margin: 0;
        padding: 0 0 5px 5px;
        width: 5%;
      }
      .cc-page-widget-link-student-footnote-text {
        color: $cc-color-lighter-medium-grey;
        float: left;
        margin: 0;
        padding: 0 0 5px 5px;
        width: 95%;
      }
    }
  }
}
