.cc-widget-finaid-awards {
  .cc-widget-finaid-awards-message {
    padding-bottom: 0;
  }
  .cc-widget-finaid-awards-padding-top {
    margin-top: 10px;
  }
  .cc-widget-finaid-awards-section {
    margin-top: 15px;
  }
  .cc-widget-finaid-awards-section-item {
    padding: 5px 11px;
  }
  .cc-widget-finaid-awards-section-item-action {
    margin-top: 10px;
  }
  .cc-widget-finaid-awards-section-item-loans {
    margin-top: 20px;
    padding: 5px 15px;
  }
  .cc-widget-finaid-awards-section-item-margin-top {
    margin-top: 10px;
  }
  .cc-widget-finaid-awards-section-no-items {
    margin: 10px 15px;
  }
  .cc-widget-finaid-awards-section-total {
    margin: 5px 19px 0 0;
  }
  .cc-widget-finaid-awards-section-total-grand {
    border-top: 1px solid $cc-color-widget-background;
    margin-left: 4px;
    padding: 5px 0 15px;
  }
  .cc-widget-finaid-awards-section-link-separator {
    border-left: 1px solid $cc-color-widget-background;
    margin-left: 5px;
    padding-left: 5px;
  }
}
