.cc-page-finaid {
  .cc-page-finaid-header {
    font-size: 14px;
    margin: 0;
  }
  .cc-page-finaid-header-container {
    padding: 0 15px;
    h3 {
      margin: 0;
    }
  }
  .cc-page-finaid-header-container-dark {
    background: $cc-color-light-grey;
  }
}
